doctype html
html(lang="en")
  head
    title EDERN Restaurant
    meta(charset="UTF-8")
    each item in meta
      meta(name=item.name, content=item.content)
  body(style="overflow: hidden")
    main.index-menu
      h3 Список страниц в проекте
      ol
        each page in pages
          li
            a(href=page)=page
